<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Colin Page-- Readings</title>
  <link rel="stylesheet" href="{{url_for('static', filename='colinsite.css')}}">
</head>
<body>
  <header><h1><a class="header" href="{{url_for('index')}}">All About <span itemscope itemtype="schema.org/Person">Colin Daugherty</span></a></h1>
  <nav class="menu">
    <ul class="bookmenu">
      <li class="bookmenu"><a href="{{url_for('readings')}}">Go Back</a></li>
      <li class="bookmenu"><a href="{{url_for('iliad')}}">Iliad by Homer</a></li>
      <li class="bookmenu"><a href="{{url_for('odyssey')}}">The Odyssey by Homer</a></li>
      <li class="bookmenu"><a href="{{url_for('night')}}">Night by Wiesel</a></li>
      <li class="bookmenu"><a href="{{url_for('donquixote')}}">Don Quixote by Cervantes</a></li>
      <li class="bookmenu" id="selected">Aenied by Virgil</li>
    </ul>
  </nav>
</header>


  <main>
    <h3>The Aenied, by Virgil</h3>

    <p>Ok so you've got the Odyssey and the Iliad... What about the Aenied? What is that about? Well let me tell you! Ok so the Aeneid is Rome's response to the Greeks epics by Homer. The Romans wanted their own story of how they are so great and mighty, so Virgil was tasked with writing the epic of Aeneas, founder of Rome. This takes place shortly after the Trojan War as Aeneas flees his fallen city. After this he endures many trials and difficulties and soon makes his way to Italy. While he is there he has to fight against the other king there, and when he does he is able to defeat him in a duel. Aeneas then gains the land as his own and starts his legacy of Rome</p>

    <p>This is an awesome book! If you liked the Odyssey and the Iliad, then you will like this book, since Virgil to make up for the Greeks two books combined the best aspects of both into one book. Therefore it is a little shorter, but it is not shorter in the amount of adventure you get. I strongly recommend this book and give it a <strong>ten out of one. It was so good it defies logic</strong>

    <span itemscope itemtype="schema.org/BuyAction"><p>You can get this book off of Amazon <a href="http://www.amazon.com/Aeneid-Vintage-Classics-Virgil/dp/0679729526/ref=sr_1_1?ie=UTF8&qid=1433168646&sr=8-1&keywords=aeneid+by+virgil">here.</a></span>

      <nav class="menu">
        <ul class="mainmenu">
          <li class="mainmenu"><a href="../index.html">Home</a></li>
          <li class="mainmenu"><a href="../about.html">About</a></li>
          <li class="mainmenu"><a href="../portfolio.html">Portfolio</a></li>
          <li class="mainmenu" id="selected"><strong>List of Books I be Reading!</strong></li>
        </ul>
        <p class="copyright">This is copyrighted by Colin. In the year of <a class="wierddate" title="I really hope you don't believe this. If you do, you are either in the future or just want to believe in impossible things." href="#">12345</a>. &copy 12345 All Rights Reserved</p>
      </nav>
  </main>
