<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Colin Page-- Readings</title>
  <link rel="stylesheet" href="../style/colinsite.css">
</head>
<body>
  <header><h1><a class="header" href="../index.html">All About <div itemscope itemtype="schema.org/Person">Colin Daugherty</div</a></h1>
  <nav class="menu">
    <ul class="bookmenu">
      <li class="bookmenu"><a href="../readings.html">Go Back</a></li>
      <li class="bookmenu"><a href="iliadhomer.html">Iliad by Homer</a></li>
      <li class="bookmenu"><a href="odysseyhomer.html">Odyssey by Homer</a></li>
      <li class="bookmenu"><a href="nightwiesel.html">Night by Wiesel</a></li>
      <li class="bookmenu"><a href="quixotecervantes.html">Don Quixote by Cervantes</a></li>
      <li class="bookmenu"><a href="aeniedvirgil.html">Aenied by Virgil</a></li>
      <li class="bookmenu" id="selected">My own stories</li>
    </ul>
  </nav>
</header>

<main>
  <h3>My Stories</h3>

  <p>You may be wondering why in the worlds I would have this page here. Well let me tell you something. I don't know. Ok? That is the number one reason why they are located here and not somewhere else that can actually be accessed by the interwebs. (Since this is a local webpage. Which also means that I am talking to myself. Not wierd at all. I should stop typing now. Time to make myself laugh.) Blah blah blah, filler filler filler filler, and some more blahs... Roll the books!</p>
  <br>
  <p><h3 class="subheader">The Most Beautiful Man in the World. The Prequel. (So really it is called Esteban, the Man Who Conquers)</h3><h5 class="subheader">(Long Title ^)
