<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Colin Site</title>
  <link rel="stylesheet" href="{{url_for('static', filename='colinsite.css')}}">
  <link href='http://fonts.googleapis.com/css?family=Montserrat|Lato:400,700,400italic,900' rel='stylesheet' type='text/css'>
  <script src="{{url_for('static', filename='script/script.js')}}"></script>
  <meta name="description" content="A page about Latin, myself, and other thingys.">
  <meta name="keywords" content="Latin, Colin, Daugherty, Cool Stuffs">
</head>
<body>
  <header><h1><a class="header" href="{{url_for('index')}}">All About <span itemscope itemtype="schema.org/Person">Colin Daugherty</span></a></h1>
    <nav class="menu">
      <ul class="mainmenu">
        <li class="mainmenu"><a href="{{url_for('index')}}">Home</li>
        <li class="mainmenu"><a href="{{url_for('about')}}">About</a></li>
        <li class="mainmenu" id="selected">Portfolio</a></li>
        <li class="mainmenu"><a href="{{url_for('game')}}">Game</a></li>
        <li class="mainmenu"><a href="{{url_for('readings')}}" onmouseover="unhide()" onmouseout="rehide()">List of Books I be Reading!</a>

          <ul class="hiddenlist" id="test" onmouseover="unhide()" onmouseout="rehide()">
            <li><a href="#" onclick="unhide()">The List</a></li>
            <br>
            <li><a href="{{url_for('aenied')}}">The Aenied by Virgil</a></li>
            <li><a href="{{url_for('odyssey')}}">The Odyssey by Homer</a></li>
            <li><a href="{{url_for('iliad')}}">The Iliad by Homer</a></li>
            <li><a href="{{url_for('night')}}">Night by Elie Wiesel</a></li>
            <br>
            <li><a href="{{url_for('donquixote')}}">Don Quixote by Cervantes</a></li>
          </ul>

        </li>
      </ul>
    </nav>
</header>

  <main>

    <h1>Portfolio</h1>
    <p>So yeah this is my portfolio. These are some random projects but hey, they are still cool.</p>
    <p><strong>WARNING</strong>-- Little Page may not work as well as it could in mobile... In other words... It looks bad.</p>

    <a href="projects/hangman.html" title="Hangman"><img src="https://wordsofwyatt.files.wordpress.com/2013/06/hangman.jpg" alt="hangman" width="100px" height="100px"></img></a>

    <a href="file:///media/colin/B795-92A7/code/smallpage.html" title="Little Page"><img src="img/nope.png" alt="Little Page" width="100px" height="100px"></img></a>

  </main>

  <nav class="menu">
    <ul class="mainmenu">
      <li class="mainmenu"><a href="/">Home</a></li>
      <li class="mainmenu"><a href="/about">About</a></li>
      <li class="mainmenu" id="selected">Portfolio</li>
      <li class="mainmenu"><a href="/readings">List of Books I be Reading!</a></li>
    </ul>
    <p class="copyright">This is copyrighted by Colin. In the year of <a id="date?" class="wierddate" title="I really hope you don't believe this. If you do, you are either in the future or just want to believe in impossible things. The actual time this webpage was made was in the year of 2015. Fun eh?" href="#date?">12345</a>. &copy 12345 All Rights Reserved</p>
  </nav>
</body>
</html>
